<?xml version="1.0" encoding="UTF-8" ?>
<phpunit 
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="/bootstrap.php"
    cacheTokens="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="false"
    
    strict="true"
    verbose="false">
<!--    <testsuites>
        <testsuite name="Teste Business do Projeto de Documentação ">
            <directory>src/DocumentaSis/Teste/</directory>
        </testsuite>
    </testsuites>-->
    
    <filter>
        <whiteliste>
            <directory>
                /src/DocumentaSis/Teste/BusinessTeste
            </directory>
        </whiteliste>
    </filter>
    
</phpunit>
